<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array/>
	<key>New item</key>
	<string>102</string>
	<key>New item - 2</key>
	<string>103</string>
	<key>New item - 3</key>
	<string>104</string>
	<key>New item - 4</key>
	<string>105</string>
	<key>New item - 5</key>
	<string>106</string>
	<key>New item - 6</key>
	<string>107</string>
	<key>New item - 7</key>
	<string>108</string>
	<key>New item - 8</key>
	<string>109</string>
	<key>New item - 9</key>
	<string>110</string>
</dict>
</plist>
